<div *ngIf="footerConfig$ | async as config" [ngClass]="config.cssClass" class="app-footer">
  <ng-container *ngIf="config.show !== false">
    <!-- Footer text with HTML -->
    <p *ngIf="config.text" [innerHTML]="config.text"></p>

    <!-- Footer buttons -->
    <div class="footer-buttons" *ngIf="config.buttons?.length">
      <button
        mat-raised-button
        *ngFor="let btn of config.buttons"
        [color]="btn.color"
        [routerLink]="btn.path"
      >
        <mat-icon *ngIf="btn.icon">{{ btn.icon }}</mat-icon>
        {{ btn.label }}
      </button>
    </div>

    <!-- Social media icons -->
    <div class="footer-social" *ngIf="config.social?.length">
      <a
        *ngFor="let s of config.social"
        [href]="s.link"
        target="_blank"
        mat-icon-button
        [attr.aria-label]="s.label"
      >
        <fa-icon [icon]="s.icon"></fa-icon>
      </a>
    </div>
  </ng-container>
</div>
