@if (footerConfig$ | async; as config) {
<div [ngClass]="config.cssClass" class="app-footer">
  @if (config.show !== false) {
  <div class="footer-wrapper">
    <!-- LEFT SIDE -->
    <div class="footer-left">
      @if (config.text) {
      <p [innerHTML]="config.text"></p>
      } @if (config.buttons?.length) {
      <div class="footer-buttons">
        @for (btn of config.buttons; track btn) {
        <button mat-raised-button [color]="btn.color" [routerLink]="btn.path">
          @if (btn.icon) {
          <mat-icon>{{ btn.icon }}</mat-icon>
          }
          {{ btn.label }}
        </button>
        }
      </div>
      } @if (config.social?.length) {
      <div class="footer-social">
        @for (s of config.social; track s) {
        <a [href]="s.link" target="_blank" mat-icon-button [attr.aria-label]="s.label">
          <fa-icon [icon]="s.icon"></fa-icon>
        </a>
        }
      </div>
      }
    </div>

    <!-- RIGHT SIDE -->
    @if (config.cssClass === 'footer-about') {
    <div class="footer-map">
      <div class="footer-map-wrapper">
        <app-map></app-map>
      </div>
    </div>
    }
  </div>
  }
</div>
}
